<md-menu>
    <md-button aria-label="Choose language" class="md-icon-button" data-ng-click="$mdOpenMenu($event)">
        <md-icon data-md-menu-origin data-md-svg-icon="md:translate"></md-icon>
        <md-tooltip data-md-direction="top">
            <span data-translate="{{ 'LANG.' + vm.actualLanguage }}"></span>
        </md-tooltip>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button data-ng-disabled="true" aria-label="Choose language" data-translate="LANG.CHOOSE_MESSAGE" data-translate-value="{VAL:vm.availableLanguages.length}"></md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button data-ng-disabled="true" aria-label="{{ 'LANG.' + vm.actualLanguage | translate }}">
                <md-icon data-md-svg-icon="md:radio-checked" data-md-menu-align-target></md-icon>
                <span data-translate="{{ 'LANG.' + vm.actualLanguage }}"></span>
            </md-button>
        </md-menu-item>
        
        <md-divider></md-divider>
        
        <md-menu-item data-ng-repeat="language in vm.availableLanguages | filter:'!' + vm.actualLanguage">
            <md-button data-ng-click="vm.choice(language)" data-md-prevent-menu-close aria-label="{{ 'LANG.' + language }}">
                <md-icon data-md-svg-icon="md:radio" data-md-menu-align-target></md-icon>
                <span data-translate="{{ 'LANG.' + language }}"></span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>