<div data-layout="column" data-flex-offset="20" data-flex="60">
	<div data-layout-margin>
		<md-content class="md-whiteframe-z1 bg">
			<md-list>
				<md-list-item class="md-3-line" data-ng-repeat="project in vm.projects" data-ng-click="vm.goToProject(project)">
					<div data-ng-if="project.health" class="md-avatar {{project.health}}"></div>
					<md-progress-circular data-ng-if="!project.health" class="md-avatar" data-md-diameter="40"></md-progress-circular>
					
					<div class="md-list-item-text" layout="column">
						<h3><strong>{{project.name}}</strong></h3>
						<h4>{{project.url}}</h4>
						<p class="italic" data-ng-if="project.lastTrace">Dernier accès le {{project.lastTrace | date:"dd/MM/yyyy 'à' H'h'mm"  || '-'}}</p>
					</div>

					<!-- boutons d'actions -->
					<md-icon data-md-svg-icon="md:delete" ng-click="vm.removeProjectPopup(project)" class="md-secondary danger" aria-label="Supprimer un projet de la liste"></md-icon>
					<md-divider data-ng-hide="$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
	</div>

	<!-- Bouton flottant d'ajout de service -->
	<md-button aria-label="Ajouter un service" data-ng-click="vm.addProjectPopup()" class="md-fab v-fab">
		<md-icon data-md-svg-icon="md:add" class="white"></md-icon>
	</md-button>
</div>