<md-content data-layout="row">
    
    <!-- SEARCH -->
    <section data-flex="20" data-layout="column" data-layout-margin>
        <div data-layout="row" data-layout-align="start center">
            <md-input-container class="md-block" style="margin-bottom:0">
                <label data-translate="COMMON.SEARCH"></label>
                <input data-ng-model="vm.searchValue" type="text" autofocus>
                <div class="hint">
                    {{ beanDefinitions.length }}
                    /
                    <strong data-translate="BEANS.SECTION.LIST" data-translate-values="{VAL:vm.beansPrepData.length}"></strong>
                </div>
            </md-input-container>
            <md-button data-ng-show="!vm.isSearch()" data-ng-disabled="true" class="md-icon-button" aria-label="Search">
                <md-icon data-md-svg-icon="md:search-black"></md-icon>
            </md-button>
            <md-button data-ng-show="vm.isSearch()" data-ng-click="vm.resetSearch()" class="md-icon-button" aria-label="Reset search">
                <md-icon data-md-svg-icon="md:clear-black"></md-icon>
            </md-button>
        </div>
    </section>
          
    <!-- CONTENT -->
    <section data-flex data-layout="column" data-layout-margin>
        <md-content class="md-whiteframe-z1 bg">  
            <md-list>
                <md-list-item class="md-3-line" data-ng-repeat="beanDefinition in beanDefinitions = (vm.beansPrepData | filter:vm.search() | limitTo:vm.limitValue)" data-ng-click="vm.showFullInformations(beanDefinition)">
                    <div class="md-list-item-text" data-layout="column">
                        <h3>{{ beanDefinition.bean | package }}</h3>
                        <h4>{{ beanDefinition.scope }}</h4>
                        <p>{{ beanDefinition.type | package }}</p>
                    </div>

                    <md-divider data-ng-hide="$last"></md-divider>
                </md-list-item>
                <md-list-item data-ng-hide="beanDefinitions.length>0">
                    <p data-translate="COMMON.NOTHING_TO_SEE"></p>
                </md-list-item>
            </md-list>
        </md-content>
        
        <md-button 
            data-ng-click="vm.more()" 
            data-ng-hide="vm.limitValue>beanDefinitions.length" 
            aria-label="More" 
            data-translate="COMMON.MORE_LIGHT"></md-button>
    </section>
       
</md-content>