<md-button data-ui-sref="home" class="md-icon-button" aria-label="Notification" data-ng-disabled="vm.downProjects.length===0">
    <md-icon data-md-svg-icon="md:notifications-active" class="white" data-ng-show="vm.downProjects.length>0"></md-icon>
    <md-icon data-md-svg-icon="md:notifications-none" class="white" data-ng-show="vm.downProjects.length===0"></md-icon>
    <md-tooltip>
        <span data-translate="{{ 'HEALTH.LIST' }}" data-translate-values="{'VAL':vm.downProjects.length}"></span>
    </md-tooltip>
</md-button>