<div data-layout="row">
    <md-autocomplete
            data-ng-disabled="vm.isDisabled()"
            data-md-search-text="vm.searchText"
            data-md-items="project in vm.searchProject()"
            data-md-item-text="project.url + ' - ' + project.name"
            data-md-selected-item="vm.selectedProject"
            data-md-selected-item-change="vm.selectProject(project)"
            data-md-min-length="0"
            placeholder="http://localhost:9090 - Localhost"
            data-ng-blur="vm.selectDefaultProject()"
            data-flex>
        <md-item-template>
            <span data-md-highlight-text="vm.searchText" data-md-highlight-flags="^i">{{ project.url }} - {{ project.name }}</span>
        </md-item-template>
        <md-not-found>
            <span data-translate="COMMON.NO_RESULT"></span>
            <a data-ng-click="vm.saveProjectFromSearch()" data-translate="COMMON.SAVE_QUESTION"></a>
        </md-not-found>
    </md-autocomplete>
    <md-button class="md-icon-button" aria-label="Plus" data-ng-click="vm.saveProject()">
        <md-icon data-md-svg-icon="md:add" class="white"></md-icon>
    </md-button>
</div>