a {
    text-decoration: none;
    color: #9e9e9e;
}

a:hover {
    color: #616161;
}

md-card.UP, md-card.DOWN, md-card.UP a:hover, md-card.DOWN a:hover {
    color: #ffffff;
}

md-card.UP {
    background-color: #4caf50;
}

md-card.DOWN {
    background-color: #f44336;
}

md-card[data-ng-click].DOWN {
    cursor: pointer;
}

md-card.single-data md-card-content {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

md-card.multi-data md-card-content {
    padding : 0;
}

md-card.single-line md-card-content {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

md-card.multi-lines md-card-content {
    padding : 0;
}

md-list.md-whiteframe-z1, .bg {
    background-color: #ffffff;
}

.status2xx {
    color: #4caf50;
}

.status4xx {
    color: #ffeb3b;
}

.status5xx {
    color: #f44336;
}

.httpMethodChip {
    background-color: darkgoldenrod;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.full-width {
    width: 100%;
}

md-icon.white > svg {
    fill: white;
}

md-icon.small > svg {
    height: 12px;
    width: 12px;
    viewBox: 0 0 12 12;
}

.badge {
    border-radius: 5px;
    padding: 5px;
}

.new, .runnable, .terminated, md-toolbar.new, md-toolbar.runnable, md-toolbar.terminated {
    color: white;
    background-color: #4caf50;    
}

.timed_waiting, .waiting, md-toolbar.timed_waiting, md-toolbar.waiting {
    color: black;
    background-color: #ffeb3b;    
}

.blocked, md-toolbar.blocked {
    color: white;
    background-color: #f44336;    
}

th[data-ng-click]:hover, tr[data-ng-click]:hover, td[data-ng-click]:hover {
    cursor: pointer;
}