a {
    text-decoration: none;
    color: #9e9e9e;
}

a:hover {
    color: #616161;
}

md-card.UP, md-card.DOWN, md-card.UP a:hover, md-card.DOWN a:hover {
    color: #ffffff;
}

md-card.UP {
    background-color: #4caf50;
}

md-card.DOWN {
    background-color: #f44336;
}

md-card[data-ng-click].DOWN {
    cursor: pointer;
}

md-card.single-data md-card-content {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

md-card.multi-data md-card-content {
    padding : 0;
}

md-card.single-line md-card-content {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

md-card.multi-lines md-card-content {
    padding : 0;
}

md-list.md-whiteframe-z1, .bg {
    background-color: #ffffff;
}

md-input-container .hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

input.multi-projects {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: none;
}

input.multi-projects:focus {
    background-color:white;
    outline: 0;
}

/* trace */
.status2xx {
    color: #4caf50;
}

.status4xx {
    color: #ffeb3b;
}

.status5xx {
    color: #f44336;
}

.httpMethodChip {
    background-color: darkgoldenrod;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.full-width {
    width: 100%;
}